<html>
{{#each foo}}
{{this}}
{{/each}}

<div>
	<p>
		This page allows an employee to find a customer's previous orders.
	</p>
</div>

<h3>Orders</h3>

<h4>Add New Order:</h4>
<!-- search for customer -->
<!-- select customer, will identify by their cust id
 -->

<!-- For project purposes, display orders -->
<h4>Display Current Orders:</h4>
<table class="table">
	<thead>
		<th scope="col">Order ID</th>
		<th scope="col">Name</th>
		<th scope="col">Date</th>
	</thead>
	<tbody>
		{{#each orders}}
		<tr>
			<td>{{Order_ID}}</td>
			<td>{{Cust_Name}}</td>
			<td>{{Order_Date}}</td>
			<!-- TODO: function to view that order  -->
			<!-- <td><button onclick="">Update</button></td>		 -->
		</tr>
		{{/each}}
	</tbody>
</table>

<!-- TODO: form to add a new order -->
</html>