<h1>Hire a New Employee</h1>
<form>
   Employee name:<br>
  <input type="text" name="emp_name_input"><br>
  Store ID:<br>
  <input type="text" name="store_id_input"><br>
  Employee phone number:<br>
  <input type="text" name="emp_phone_number_input"><br>
  Employee street address :<br>
  <input type="text" name="emp_address_street_input"><br>
  Employee zipcode:<br>
  <input type="text" name="emp_address_zip_input"><br>
  <input type="submit">
</form>
