<h1>Index for Cellular Company</h1>
  <div><a href="">Add new order</a></div>
  <div><a href="">Add new customer</a></div>
  <div><a href="">Look up customer</a></div>
  <div><a href="">Update customer</a></div>
  <div><a href="">Add phone to inventory</a></div>
  <div><a href="">Hire employee</a></div>
  <div><a href="">Fire employee</a></div>
  <div><a href="">Add new store</a></div>


<h1>MySQL Results:</h1>
<p>{{results}}</p>
