<h1>Create a New Order</h1>
<form>
  Customer ID:<br>
  <input type="text" name="cust_id"><br>
  Employee ID:<br>
  <input type="text" name="emp_id"><br>
  Order Date:<br>
  <input type="datetime-local" name="order_date">
  Phone IMEI:<br>
  <input type="text" name="imei_input">
  Phone SKU:<br>
  <input type="text" name="sku_input">
  Service Plan ID:<br>
  <input type="text" name="plan_id_input">
  <input type="submit">
</form>
