<h1>Create a new service plan</h1>
<form>
  Plan Name:<br>
  <input type="text" name="plan_name_input"><br>
  Plan Description:<br>
  <input type="text" name="plan_desc_input"><br>
  Plan Cost:<br>
  <input type="text" name="plan_cost_input"><br>
  <input type="submit">
</form>
