<h1>Update Customer Information</h1>
<form>
  Customer name:<br>
  <input type="text" name="cust_name_update"><br>
  Customer phone number:<br>
  <input type="text" name="cust_phone_number_update"><br>
  Customer email:<br>
  <input type="text" name="cust_email_update"><br>
  Customer street address:<br>
  <input type="text" name="cust_address_street_update"><br>
  Customer zipcode:<br>
  <input type="text" name="cust_address_zip_update"><br>
  <input type="submit">
</form>
